<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/images/logo.jpg">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/logout" id="sign-up-nav" class="button is-info is-outlined">Log Out</a>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <button type="submit"class="button is-info donate-btn">Donate</button>
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" value="NBQT6Q6MGG894" />
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
<header id="profile-hero">
  <div class="container">
    <h1>You'l Love  Our Games</h1>
  </div>
</header>
<div id="gamer-profile" class="container">
  <h2><i class="fas fa-award"></i>&nbsp;Our Extensive Library</h2>
  <section id="games-container">
      {{#each games as |game|}}
      <article>
        <h3 class="game-title">{{game.title}}</h3>
        <form action="/dashboard/games/{{game._id}}" method="POST">
            <button type="submit" class="add-favs button is-success">Add to favorites</button>
            </form> 
        <a href= "/games/game/{{game._id}}">
            <img src = "{{game.thumbnail}}" alt= "{{game.title}}" />
          </a>
      </article>
          
      {{/each}}
  </section>
</div>

<section id="donate">
      <div class="container">
     <h2><i class="fas fa-beer"></i> Buy us a Beer</h2>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <button type="submit" class="body-button" id="donate-btn">
          <div id="slide"></div>
          <a>Donate</a>
        </button>
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="NBQT6Q6MGG894" />
      </form>
    
  </div>
</section>
{{#each games as |game|}}
<div class="card" style="width: 30%; margin: 20px;">
    <div class="card-image waves-effect waves-block waves-light">
        <a href= "/games/game/{{game._id}}">
        <img class = "activator" src = "{{game.image}}" alt= "{{game.title}}" width="200px"/>
        </a>
    </div>

    <div class="card-content">
        <a href= '/games/game/{{game._id}}'>
        <span class="card-title grey-text text-darken-4">{{game.title}}</span>
        </a>
    </div>

    <div class="buttons">
      <form action="/dashboard/games/{{game._id}}" method="POST">
        <button type="submit">Add to favorites</button>
      </form> 
    </div>
</div>


{{/each}}

</div>