<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/images/logo.jpg">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/logout" id="sign-up-nav" class="button is-info is-outlined">Log Out</a>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <button type="submit"class="button is-info donate-btn">Donate</button>
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" value="NBQT6Q6MGG894" />
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
<header id="profile-hero">
  <div class="container">
    <h1>Welcome, {{loggedUser.name}}</h1>
    <h3>{{loggedUser.role}}</h3>
  </div>
</header>
<div id="gamer-profile" class="container">
  <figure><img src="{{loggedUser.photoURL}}" alt=""></figure>
  <div id="gamer-btns">
    <a href="/dashboard/edit/{{loggedUser._id}}" class="button is-info">Edit Profile</a>
    <a href="/dashboard/games" class="button is-info">Add Favorite Games</a>
    <a href="/dashboard/delete/{{loggedUser._id}}"  onclick="return confirm('Are you reaaaaally sure?')" class="button is-danger">Delete Profile</a>
  </div>
  <h2><i class="fas fa-star"></i>&nbsp;Favorite Games</h2>
  <section id="games-container">
      {{#each favoriteGames as |game|}}
      <article>
        <h3 class="game-title">{{game.title}}</h3>
        <form action="/dashboard/deleteFav/{{game._id}}" method="POST">
            <button type="submit" class="delete-favs button is-danger">Delete from favorites</button>
            </form> 
        <a href= "/games/game/{{game._id}}">
            <img src = "{{game.thumbnail}}" alt= "{{game.title}}" />
          </a>
      </article>
      {{/each}}
  </section>
</div>

<section id="donate">
      <div class="container">
     <h2><i class="fas fa-beer"></i> Buy us a Beer</h2>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <button type="submit" class="body-button" id="donate-btn">
          <div id="slide"></div>
          <a>Donate</a>
        </button>
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="NBQT6Q6MGG894" />
      </form>
    
  </div>
</section>