<div id="create-game">
    <form action="/admin/games/edit/{{game._id}}" method="POST">
      <input type="text" name="title" value="{{game.title}}" />
      <select name="genre" id="genre">
        <option value="Endless Runner">Endless Runner</option>
        <option value="Shoot'em up">Shoot'em up</option>
      </select>
      <textarea name="description" id="description" cols="30" rows="10" placeholder="Game Description">{{game.description}}</textarea>
      <input type="text" name="createdBy" value="{{game.createdBy}}" />
      <input type="text" name="gameSource" value="{{game.gameSource}}" />
      <input type="submit" value="Edit Game">
    </form>
  </div>